<a href="https://colab.research.google.com/github/shirleymbeyu/ip_w4_Autolib/blob/master/Shirley's_Autolib_data_set_cleaning_and_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing libraries

In [ ]:
#I'm going to import libraries I'll use for this session
import pandas as pd
import numpy as np

# Loading the data

In [ ]:
link = 'http://bit.ly/autolib_dataset'
autolib = pd.read_csv(link)
autolib[:5]

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

In [ ]:
#accessing info about the data set
autolib.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

# Cleaning the data

In [ ]:
# Procedure 1: Irrelevant Data Observation
# Data Cleaning Action: Dropping several columns
# Explanation: We won't need them during Analysis. No question to be answered requires those column.
#
dropped = autolib.drop(['Charging Status','Charge Slots', 'Displayed comment','ID', 'Kind', 'Geo point','Rental status', 'Scheduled at', 'Slots', 'Station type', 'Status', 'Subscription status', 'year', 'month', 'minute'], axis=1)

In [ ]:
# Procedure 2:
# Data Cleaning Action:syntax error
# Explanation:remove white space at the beginning or end of string
#
df = dropped.rename(columns=lambda x: x.strip())

In [ ]:
#Procedure 3:
# Data Cleaning Action:checking/counting missing values
# Explanation:checking if there's any missing value in the data frame
#
df.isnull().any()

Address               False
Cars                  False
Bluecar counter       False
Utilib counter        False
Utilib 1.4 counter    False
City                  False
Postal code           False
Public name           False
day                   False
hour                  False
dtype: bool

In [ ]:
# Procedure 4: Duplicates
# Data Cleaning Action: Removing duplicate values
# Explanation: Removing duplicate rows from the data set
#
df_non_duplicates = df.drop_duplicates()
print(df_non_duplicates)

                                 Address  Cars  ...  day  hour
0                    2 Avenue de Suffren     0  ...    8    11
1              145 Rue Raymond Losserand     6  ...    6     7
2       2 Avenue John Fitzgerald Kennedy     3  ...    3    20
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...    4     4
4     6 avenue de la Porte de Champerret     3  ...    8    17
...                                  ...   ...  ...  ...   ...
4995                 8 avenue MÃ©nelotte     2  ...    6    11
4996                   37 rue de Dantzig     4  ...    4    16
4997                      142 rue du Bac     1  ...    1     7
4998         2 avenue du Val de Fontenay     2  ...    4    17
4999                 5 Rue Henry Brisson     4  ...    8    10

[4968 rows x 10 columns]

In [ ]:
#Procedure 5: 
# Data Cleaning Action:re_naming column names
# Explanation:giving the data set a new name to work with since the cleaning is done
#
df_non_duplicates.columns = ['Address', 'Cars', 'Bluecar', 'Utilib', 'Utilib_1.4', 'City', 'Postal_code', 'Name', 'day', 'hour']

In [ ]:
#Procedure 6: 
# Data Cleaning Action:none
# Explanation:the data types are ok
#
df_non_duplicates.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4968 entries, 0 to 4999
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Address      4968 non-null   object
 1   Cars         4968 non-null   int64
 2   Bluecar      4968 non-null   int64
 3   Utilib       4968 non-null   int64
 4   Utilib_1.4   4968 non-null   int64
 5   City         4968 non-null   object
 6   Postal_code  4968 non-null   int64
 7   Name         4968 non-null   object
 8   day          4968 non-null   int64
 9   hour         4968 non-null   int64
dtypes: int64(7), object(3)
memory usage: 426.9+ KB

Before begining data analysis, I will export my data into a new csv file

In [ ]:
df_non_duplicates.to_csv('cleaned_Autolib.csv', index = False)

# Data analysis

To begin my analysis I will load and preview the new data set

In [ ]:
link = 'cleaned_Autolib.csv'
auto = pd.read_csv(link)
auto[:5]

                              Address  Cars  ...  day  hour
0                 2 Avenue de Suffren     0  ...    8    11
1           145 Rue Raymond Losserand     6  ...    6     7
2    2 Avenue John Fitzgerald Kennedy     3  ...    3    20
3              51 Rue EugÃ¨ne OudinÃ©     3  ...    4     4
4  6 avenue de la Porte de Champerret     3  ...    8    17

[5 rows x 10 columns]

In [ ]:
sorted = auto.sort_values(by=['day', 'hour'])
sorted[:5]

                       Address  Cars  ...  day  hour
123              35 rue Mathis     0  ...    1     0
459      170 boulevard Pereire     3  ...    1     0
584          1 rue de l'Avenir     7  ...    1     0
977   2 Rue Fabre d'Ãglantine     2  ...    1     0
1024      12 Avenue de Messine     4  ...    1     0

[5 rows x 10 columns]

RESEARCH QUESTION: Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.

First I will  get the difference of the cars, bluecar, utilib and utilib 1.4 in a station, over time and store that in a new column.
With this  I can actually find out whether the car was picked, dropped or nothing happened

Negative values - pick_ups

Positive - drop_offs 

zero -  nothing happened

I can then drop the orgininal columns for cars, bluecar, utilib and utilib 1.4 as they won't be needed anymore in tmy analysis.

In [ ]:
sorted['blue_use'] = sorted['Bluecar'].diff()
sorted['utilib_use'] = sorted['Utilib'].diff()
sorted['Utilib1_use'] = sorted['Utilib_1.4'].diff()
sorted['car_use'] = sorted['Cars'].diff()
sorted[:5]

                       Address  Cars  Bluecar  ...  utilib_use  Utilib1_use car_use
123              35 rue Mathis     0        0  ...         NaN          NaN     NaN
459      170 boulevard Pereire     3        3  ...         0.0          0.0     3.0
584          1 rue de l'Avenir     7        7  ...         0.0          0.0     4.0
977   2 Rue Fabre d'Ãglantine     2        2  ...         0.0          0.0    -5.0
1024      12 Avenue de Messine     4        4  ...         0.0          0.0     2.0

[5 rows x 14 columns]

1. What was the most popular hour for returning

Here we are looking for the hour with the most positive value

In [ ]:
pop_return_hour = sorted[(sorted.car_use>0)].groupby('hour')['hour'].count().sort_values(ascending = False)[:1]
pop_return_hour

hour
7    95
Name: hour, dtype: int64

2. What station is the most popular?

a) Overall?

In [ ]:
pop_station = sorted.groupby('Name')['Name'].count().sort_values(ascending = False)[:1]
pop_station

Name
Paris/Porte de Montrouge/8    13
Name: Name, dtype: int64

b) At the most popular picking hour?

In [ ]:
#First I will find what the most popular picking hour is:
pop_pick_hour = sorted[(sorted.car_use<0)].groupby('hour')['hour'].count().sort_values(ascending = False)[:1]
pop_pick_hour

hour
9    101
Name: hour, dtype: int64

In [ ]:
#Then find the most popular station at that hour
station_at_pop_hour  = sorted[(sorted.hour == 9) & (sorted.car_use<0)].groupby('Name')['Name'].count().sort_values(ascending = False)[:1]
station_at_pop_hour

Name
Paris/Picpus/7    2
Name: Name, dtype: int64

3.What postal code is the most popular for picking up Blue cars? 

a) Overall?

In [ ]:
pop_box_blue = sorted[(sorted.blue_use<0)].groupby('Postal_code')['blue_use'].count().sort_values(ascending = False)[:1]
pop_box_blue

Postal_code
75015    122
Name: blue_use, dtype: int64

i) Checking whether the most popular station belongs to that postal code

In [ ]:
sorted[sorted['Name'].map(lambda Name: 'Paris/Porte de Montrouge/8' in Name)][:1]

                                Address  Cars  ...  Utilib1_use  car_use
2109  8 Avenue de la Porte de Montrouge     5  ...          0.0     -1.0

[1 rows x 14 columns]

=The most popular station does not belong to that Postal code

b) At the most popular picking hour?

In [ ]:
box_blue_at_pop_hour  = sorted[(sorted.hour == 9) & (sorted.blue_use<0)].groupby('Postal_code')['Postal_code'].count().sort_values(ascending = False)[:1]
box_blue_at_pop_hour

Postal_code
75019    8
Name: Postal_code, dtype: int64

b. i) Checking whether the most popular station belongs to that postal code

==The most popular station does not belong to that Postal code

CHECKING WHETHER RESULTS CHANGE IF YOU CONSIDER UTILIB AND UTILIB 1.4

4. What postal code is the most popular for picking up Utilib cars? Does the most popular station belong to that postal code?

a) Overall?

In [ ]:
pop_box_utilib = sorted[(sorted.utilib_use<0)].groupby('Postal_code')['Postal_code'].count().sort_values(ascending = False)[:1]
pop_box_utilib

Postal_code
75015    19
Name: Postal_code, dtype: int64

==The most popular station does not belong to that postal code

b) At the most popular picking hour?

In [ ]:
box_utilib_at_pop_hour  = sorted[(sorted.hour == 9) & (sorted.utilib_use<0)].groupby('Postal_code')['utilib_use'].count().sort_values(ascending = False)[:1]
box_utilib_at_pop_hour

Postal_code
93200    1
Name: utilib_use, dtype: int64

==The most popular station does not belong to that code

5. What postal code is the most popular for picking up Utilib 1.4 cars? 

a) Overall?

In [ ]:
pop_box_utilib1 = sorted[(sorted.Utilib1_use<0)].groupby('Postal_code')['Utilib1_use'].count().sort_values(ascending = False)[:1]
pop_box_utilib1

Postal_code
75017    27
Name: Utilib1_use, dtype: int64

==The most popular station does not belong to that code

b) At the most popular picking hour?

In [ ]:
box_utilib1_at_pop_hour  = sorted[(sorted.hour == 9) & (sorted.Utilib1_use<0)].groupby('Postal_code')['Utilib1_use'].count().sort_values(ascending = False)[:1]
box_utilib1_at_pop_hour

Postal_code
94140    2
Name: Utilib1_use, dtype: int64

==The most popular station still doesn't belong to that Postal code

Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.

In [ ]:
#sorted[].groupby('hour')['hour'].count().sort_values(ascending = False)
RQ = sorted[(sorted.City == 'Paris') & (sorted.blue_use<0)].groupby('hour')['blue_use'].count().sort_values(ascending = False)[:1]
RQ

hour
21    67
Name: blue_use, dtype: int64